@charset "UTF-8";
@font-face {
	font-family: audiowide;
	src: url("../fontes/Audiowide-Regular.ttf");
}

/* Formatação Geral #2ACCDE #2AB1DE*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	width: 100%;
	background-color: #e9fdff;
	margin: 0 auto;
	overflow: hidden;
}

.conteiner {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
 
 @media (min-width: 1170px) {
	 .conteiner {
		 max-width: 1170px;
		 padding: 0;
	 }
 }

/*Formatação Logo*/
img#logo {
	position: absolute;
	top: 0px;
	left: 60px;
}

header#cabecalho img#icone {
	position: relative;
	top: 30px;
	left: 1150px;
}

/* Formatação do Cabeçalho */
header {
	background-color: #b7c6dd;
	font-weight: 600;
}

header label {
	color: #efefef;
	font-size: 25px;
	display: block;
	padding: 5px 10px;
	width: 20px;
	border-right: 1px solid #efefef;
	display: none;
}

header label:hover {
	background-color: #ff5900;
}

header#cabecalho {
	border-bottom: 1px #dddddd solid;
	height: 150px;
}

/* Formatação do Menu */
#btn-menu {
	display: none;
}

nav#menu {
	display: block;
	font-family: audiowide;
}

nav#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	text-transform: uppercase;
	position: absolute;
	top: -10px;
	left: 500px;
	transition: all .5s;
}

nav#menu li {
	display: inline-block;
	background-color: #829FD9;
	padding: 0px;
	margin: 0px;
	transition: background-color 1s;
	font-size: 18pt;
}

nav#menu li a {
	color: black;
	text-decoration: none;
	padding: 15px 20px;
	display: block;
	border-right: 1px solid #efefef;
}

nav#menu li a:hover {	
	color: #fff;
}

@media(max-width: 768px){
	header label {
		display: block;
	}
	#menu ul {
		position: absolute;
		background-color: #e9fdff;
		width: 70%;
		flex-direction: column;
		margin-left: -70%;
	}
	#menu li a {
		border-top: 1px solid #e9fdff;
	}

	#btn-menu:checked ~ #menu ul {
		margin-left: 0;
	}
}

/* Formatação do texto */
section#corpo {
	display: block;
	width: 65%;
	float: left;
	border-right: 1px solid #dddddd;
	text-indent: 30px;
	margin: 10px;
}

aside#lateral {
	display: block;
	width: 35%;
	float: left;
	text-indent: 30px;
	margin: 5px;
}

p {
	font-size: 16pt;
	text-align: justify;
	font-family: audiowide;
	padding-right: 15px;
}

h3 {
	font-family: arial;
	font-size: 20pt;
	text-align: center;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 0px;
	margin: 10px;
}

img#sites {
	position: relative;
	left: 70px;
}

img#dev {position: relative;
	left: 50px;
}

img#orcam {
	position: relative;
	left: 20px;
}

/* Formatação do Rodapé */
footer#rodape {
	background-color: #b7c6dd;
	clear: both;
	border-top: 1px solid #dddddd;
	padding: 15px;
}

footer#rodape p {
	display: block;
	text-align: center;
	font-size: 14px;
}