@charset "UTF-8";
@font-face {
	font-family: audiowide;
	src: url("../fontes/Audiowide-Regular.ttf");
}

html, body {
	height: 100vh;
	padding: 0px;
	margin: 0px;
	max-width: 100vw;
	width: 100%;
}

body {
	background-color: #e9fdff;
	overflow-x: hidden;
	width: 100vw;
}

/* Formatação do Cabeçalho */
header {
	display: block;
	background-image: linear-gradient(to bottom, #b7c6dd 40%, #829FD9 90%);
	position: relative;
	width: 100vw;
}

/*Formatação Logo*/
#logo {
	position: relative;
	left: 5%;
	top: 5%;
	max-width: 15%;
	margin: 0;
}

/* Icone do Menu */
#icone {
	position: relative;
	max-width: 15%;
	left: 60vw;
	top: -10px;
	margin-top: 15px;
	width: 150px;
}

/* Formatação do Menu */
nav {
	background-color: #829FD9;
	font-family: audiowide;
	font-size: min(14pt, 3vw);
	width: 100vw;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding-right: 10px;
	text-transform: uppercase;
	transition: all .5s;
}

nav ul li {
	transition: background-color 1s;
}

nav ul li a {
	color: black;
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #94b2df;
	border-radius: 5px;	
	color: #fff;
}

.menu-burguer {
	cursor: pointer;
	position: relative;
	left: 60vw;
	top: -2vh;
}

/*Status Pagina */
h2 {
	font-size: min(16pt, 3.5vw);
	text-align: left;
	margin: 10px;
	max-width: 100vw;
}

/* Conteúdo Principal */
.wrapper {
	column-count: 2;
	margin: auto;
	max-width: 100%;
	margin-bottom: 80px;
	width: 1400px;
}

main#corpo {
	border-right: 1px solid #dddddd;
	display: block;
	float: left;
	height: 100%;
	margin: auto;
	max-width: 700vw;
	padding: 20px;
	text-indent: 30px;
	justify-content: center;
}

aside#lateral {
	display: block;
	float: left;
	margin: auto;
	max-width: 600vw;
	padding: 20px;
	text-indent: 30px;
	justify-content: center;
}

p {
	font-size: min(16pt, 3vw);
	font-weight: 100;
	line-height: 2em;
	text-align: justify;
	font-family: audiowide;
	padding: 10px;
}

h3 {
	font-family: arial;
	font-size: min(20pt, 3.5vw);
	text-align: center;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 0px;
	margin: 10px;
}

#sites, #dev, #orcam {
	display: block;
	margin: auto;
	max-width: 60%;
	min-width: 85%;

}

/* Formatação do Rodapé */
footer#rodape {
	background-color: #b7c6dd;
	border-top: 1px solid #dddddd;
	display: block;
	padding: 15px;
}

footer#rodape p {
	display: block;
	text-align: center;
	font-size: min(14pt, 2.5vw);
}

footer a {
	color: black;
	text-decoration: none;
}

footer a:hover {
	color: #5e78aa;
	text-decoration: underline;
}

footer.redsoc {
	display: block;
}

.redessoc {
	display: inline-block;
	padding: 0px 10px;
	position: relative;
	top: 50%;
	left: 46.5%;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
	.wrapper{
		column-count: 1;
	}

	main#corpo {
		border-right: none;
	}
}

@media screen and (max-width: 768px) {
	#logo {
		margin: 10px;
	}

	#icone {
		display: none;
	}

	nav {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.menu-burguer {
		display: none;
	}
}