@charset "UTF-8";
@font-face {
	font-family: audiowide;
	src: url("../fontes/Audiowide-Regular.ttf");
}

html, body {
	height: 100vh;
	padding: 0;
	margin: 0;
	max-width: 100vw;
	width: 100%;
}

body {
	background-color: #e9fdff;
}

/* Formatação do Cabeçalho */
header {
	background-image: linear-gradient(to bottom, #b7c6dd 40%, #829FD9 90%);
	max-width: 100vw;
}

/*Formatação Logo*/
#logo {
	display: inline-block;
	position: relative;
	left: 5%;
	margin-top: -10%;
}

#icone {
	display: inline-block;
	position: relative;
	left: 28vw;
}

/* Formatação do Menu */
nav {
	background-color: #829FD9;
	font-family: audiowide;
	max-width: 100vw;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding-right: 10px;
	text-transform: uppercase;
	transition: all .5s;	
}

nav ul li {
	padding: 10px;
	transition: background-color 1s;
	text-align: center;
}

nav ul li a {
	color: black;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	padding: 0px 50px 0px 50px;

}

nav ul li a:hover {
	background-color: #94b2df;
	border-radius: 5px;	
	color: #fff;
}

/*Status Pagina */
h2 {
	display: flex;
	text-align: left;
	margin: 10px;
	max-width: 100vw;
}

/* Conteúdo Principal */
.wrapper {
	margin: auto;
	max-width: 100%;
	column-count: 2;
	margin-bottom: 80px;
}

main#corpo {
	border-right: 1px solid #dddddd;
	display: block;
	float: left;
	height: 100%;
	margin: auto;
	max-width: 700vw;
	padding: 20px;
	text-indent: 30px;
	justify-content: center;
}

aside#lateral {
	display: block;
	float: left;
	margin: auto;
	max-width: 600vw;
	padding: 20px;
	text-indent: 30px;
	justify-content: center;
}

p {
	font-size: min(16pt, 2.5vw);
	text-align: justify;
	font-family: audiowide;
	padding: 10px;
}

h3 {
	font-family: arial;
	font-size: 20pt;
	text-align: center;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 0px;
	margin: 10px;
}

#sites, #dev, #orcam {
	display: block;
	margin: auto;
	max-width: 60%;
	min-width: 85%;

}

/* Formatação do Rodapé */
footer#rodape {
	background-color: #b7c6dd;
	clear: both;
	border-top: 1px solid #dddddd;
	padding: 15px;
}

footer#rodape p {
	display: block;
	text-align: center;
	font-size: 14px;
}

@media screen and (max-width: 1200px) {
	.wrapper{
		column-count: 1;
	}
}